PUBLIC_WEB_URL=https://localhost:5178
PUBLIC_SUBSCRIPTIONS_URL=https://localhost:4002/sub
WEB_CONNECTION_MTLS_KEY_FILE=/Users/ME/dev/money-transfer-demo/localhost-client-key.pem
WEB_CONNECTION_MTLS_CERT_CHAIN_FILE=/Users/ME/dev/money-transfer-demo/localhost-client.pem
# PUBSUB_CONNECTION_MTLS_KEY_FILE=/Users/ME/dev/money-transfer-demo/localhost-client-key.pem
# PUBSUB_CONNECTION_MTLS_CERT_CHAIN_FILE=/Users/mME/dev/money-transfer-demo/localhost-client.pem

## Temporal Cloud
#TEMPORAL_CONNECTION_NAMESPACE=payments-dev.sdvdw
#TEMPORAL_CONNECTION_TARGET=payments-dev.sdvdw.tmprl.cloud:7233
#TEMPORAL_CONNECTION_MTLS_KEY_FILE=/Users/ME/dev/money-transfer-demo/localhost-client-key.pem
#TEMPORAL_CONNECTION_MTLS_CERT_CHAIN_FILE=/Users/ME/dev/money-transfer-demo/localhost-client.pem

## Temporal Local
TEMPORAL_CONNECTION_NAMESPACE=default
TEMPORAL_CONNECTION_TARGET=localhost:7233
TEMPORAL_CONNECTION_MTLS_KEY_FILE=
TEMPORAL_CONNECTION_MTLS_CERT_CHAIN_FILE=


# Temporal Worker cfg
TEMPORAL_WORKER_TASK_QUEUE=apps
ENCRYPT_PAYLOADS=false
