apiVersion: temporal.io/v1alpha1
kind: TemporalWorkerDeployment
metadata:
  name: money-transfer-worker-deployment
spec:
  replicas: 3
  workerOptions:
    connectionRef:
      name: local-temporal
    temporalNamespace: default
  rollout:
    strategy: Progressive  # Gradual rollout of new versions
    steps:
      - rampPercentage: 50
        pauseDuration: 30s # Duration to pause before progressing to the next step. 30s is the minimum.
      - rampPercentage: 80
        pauseDuration: 30s
  sunset:
    scaledownDelay: 1h
    deleteDelay: 24h
  template:
    spec: # Any changes to this spec will trigger the controller to deploy a new version.
      containers:
      - name: worker
        image: PLACEHOLDER_IMAGE  # This will be replaced with the actual image tag
        imagePullPolicy: Never
        env:
        - name: TEMPORAL_TASK_QUEUE
          value: "PLACEHOLDER_TASK_QUEUE"
        # Note: Controller automatically adds versioning environment variables:
        # TEMPORAL_ADDRESS, TEMPORAL_NAMESPACE, TEMPORAL_DEPLOYMENT_NAME, TEMPORAL_WORKER_BUILD_ID
